{% extends 'header.html'  %}

{% block header %}
    <title>{{ category.name }}</title>
    {% with categories=categories %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
<div class="container py-4 py-xl-5">
    <div class="row">
        <div class="col"><a href="/">Startseite</a> > {{ category.name }}</div>
    </div>
    <br>
    <div class="row mb-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h2> {{ category.name }}</h2>
            <p class="w-lg-50">{{ category.description }}</p>
        </div>
    </div>
    <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
        {% for article in articles %}
            <a href="{{ article.url }}">
                <div class="col" >
                    <div class="card"><img class="card-img-top w-100 d-block fit-cover object-fit-sm-cover" style="height: 200px;" src="{{ article.image.url }}" />
                        <div class="card-body p-4">
                            <p class="text-primary card-text mb-0">{{ article.category }} > {{ article.topic }}</p>
                            <h4 class="card-title">{{ article.title }}</h4>
                            <p class="card-text">{{ article.description }}</p>
                            <p class="card-text"><small class="text-muted">{{ article.date }}</small></p>
                        </div>
                    </div>
                </div>
            </a>

        {% endfor %}
    </div>
</div>
{% endblock %}